.gameResult {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50vh;
}

.resultText {
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  display: flex;
  font-family: 'DynaPuff', cursive;
  color: #8e44ad;
}

.object {
  animation: MoveUpDown .4s linear infinite;
  position: relative;
  left: 0;
  bottom: 0;
}

.textArea {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.textArea button {
  border: none;
  background-color: #e74c3c;
  padding: 20px;
  border-radius: 20px;
  color: #fff;
  font-family: 'DynaPuff', cursive;
  font-size: 22px;
  cursor: pointer;
}

@keyframes MoveUpDown {

  0%,
  100% {
    bottom: 0;
  }

  50% {
    bottom: 30px;
  }
}